// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$soft-stone: #ECE1DB;
$softish-stone: #C0B9AD;
$clay-red: #8B4633;
$soft-green: #9BC2B0;
$soft-blue: #9DAFAF;
$lichen: #BAC2AE;
$moss: #A3AD74;
