// Specific CSS for your home-page

.homepage-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;



}

.homepage-card{
  padding: 50px;
  font-weight: lighter;
  text-align: center;
}

