
.megalith-container {
  display: flex;
}

.index-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
}

.index-card {
  margin: 8px;
}

#map {
  background: grey;
  margin-top: 8px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (max-width: 959px) {
  #map {
    height: 80vh;
  }
}
