// Import page-specific CSS files here.
@import "home";

.megalith-container {
  display: flex;
}

.content {
  justify-content: center;
}

.index-cards-container {
  width: 66%;
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.index-card {
  margin: 8px;
}

#map {
  background: grey;
  margin-top: 8px;
  height: 100vh;
  width: 33%;
  position: sticky;
  top: 0;
}
