
.title-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
  }
  .favourites-star {
    font-size: 32px;
  }
  .title {
    margin-right: 16px;
  }
}

.subheading-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-text-box {
  background-color: white;
  padding: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#photo_upload {
  position: relative;
  padding-bottom: 45px;
}

.sub-btn {
  position: absolute;
  bottom: 0;
  padding-left: 0px;
}
