
.show-page-text {
  h5 {
    font-size: 14px
  }

  h1 {
    font-size: 24px;
  }

  .title-elements-line-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subheading-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description-text-box {
    padding: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.show-page-top {
  background-color: #F4F4F4;
}

.show-page-map {
 #map {
  margin-top: 12px;
  width: 100%;
  height: 35vh;
 }
}

@media screen and (min-width: 992px) {
  .show-page-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .show-page-images {
      width: 66%;
    }
    .show-page-text {
      width: 33%;
    }
    .more-options-button {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .show-page-top {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;

    .show-page-images {
      width: none;
    }
    .show-page-text {
      width: none;
      padding: 8px;
    }
    .more-options-nav {
      display: none;
    }
  }
}

#photo_upload {
  position: relative;
  padding-bottom: 45px;
}

.sub-btn {
  position: absolute;
  bottom: 0;
  padding-left: 0px;
}

