
.title-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
  }
  .favourites-star {
    font-size: 32px;
  }
  .title {
    margin-right: 16px;
  }
}

.subheading-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-text-box {
  background-color: white;
  padding: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 992px) {
  .title-elements {
    display: flex;
    flex-wrap: wrap;
    align-items: none;
    justify-content: none;

    &-left {
      display: flex;
      align-items: none;
    }
  }

 .element-below-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .title {
    margin-right: 100%;
  }
}

#photo_upload {
  position: relative;
  padding-bottom: 45px;
}

.sub-btn {
  position: absolute;
  bottom: 0;
  padding-left: 0px;
}

