.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-substitute {
    background-color: grey;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.badge-container {
  height: 200px;
  // to remove:
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.comment-container {
  height: 200px;
  // to remove:
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.photo-container {
  height: 200px;
  // to remove:
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
