<div class="banner banner-home mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601465364325-34b5b5fdb6c4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">

    <h1>Megalithipedia</h1>
    <h2>The best online archive of megalithic site in the world.</h2>

      <button type="button" class="btn btn-lg btn-outline-secondary"> Start Here </button>

    <div class="search-bar mt-3" style="display: flex;">

    </div>

  </div>
</div>

<div class="home-page-mission-statement">
  <div class="container">
    <h1>Mission Statement</h1>
    <p>
      We started thsi project to share our passion for the world of megalithic sites. Many of these site are free to access and tell stories of a past long forgotten.

      Discover new and exciting places and share photos of your discoveries with friends.
    </p>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <img src="images/briefcase.png" alt="picture description" width="100">
        <h2>Sustanability</h2>
        <p>A fast app, <strong>very fast</strong> app</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <img src="images/diamond.png" alt="picture description" width="100">
        <h2>Simple</h2>
        <p>A simple app, <strong>very simple</strong> app</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <img src="images/heart.png" alt="picture description" width="100">
        <h2>Support</h2>
        <p>Support our project on Patreon</p>
      </div>
    </div>
  </div>
</div>

<h1>SLIDER</h1>

<div class="container mt-3">
  <h2>Top Rated Sites</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="megalith-card">
          <div class="card-mega">
              <img src="https://images.unsplash.com/photo-1574863312236-9e70c2f566ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1357&q=80" />
            <div class="card-mega-infos">
              <div>
                <h2>Name of megalith</h2>
                  <p>★<strong>4.67</strong></p>
              </div>
              <h2 class="card-mega-pricing">Something</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h2>Most Visited Sites</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="megalith-card">
          <div class="card-mega">
              <img src="https://images.unsplash.com/photo-1574863312236-9e70c2f566ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1357&q=80" />
            <div class="card-mega-infos">
              <div>
                <h2>Name of megalith</h2>
                  <p>★<strong>4.67</strong></p>
              </div>
              <h2 class="card-mega-pricing">Something</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <h2>Most Visited Sites</h2>
    <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1525433712192-ab7b4628bd52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
  <div class="card-trip-infos">
    <h2>Trip name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


</div>






