.show-page-images {
  .carousel-inner {
    overflow: hidden;
    height: 472px;
    width: 100%;
  img {
    height: 472px;
    object-fit: cover;
  }
  }

  @media screen and (max-width: 992px) {
    .carousel-inner {
      width: auto;
      height: 310px;
    }
  }
}

.trip-page-images {
  .carousel-inner {
    overflow: hidden;
    height: 472px;
    width: 100%;
  img {
    height: 472px;
    object-fit: cover;
  }
  }

  @media screen and (max-width: 992px) {
    .carousel-inner {
      width: auto;
      height: 310px;
    }
  }
}

.home-page-images {
  .carousel-inner {
    overflow: hidden;
    height: 472px;
    width: 100%;
  img {
    height: 472px;
    object-fit: cover;
  }
  }

  @media screen and (max-width: 992px) {
    .carousel-inner {
      width: auto;
    }
  }
}


.carousel {
  margin-top: 14px;
}

