.comment {
  margin: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  .comment-content {
    flex-grow: 1;
  }
  p {
    margin-bottom: 0;
  }
  img {
    box-shadow: 0 0 3px $softish-stone;
  }
}
