.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  background: #BAC2AE;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 35px;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.85;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

// .footer .fa-heart {
//   color: #D23333;
// }

.footer-copyright {
  display: flex;
  justify-content: center;
}
