.card-general {
  overflow: hidden;
  height: fit-content;
  background: #F4F4F4;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  &-image-container {
    height: 233px;
    width: 24vw;
    img {
      min-height:100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

  h3 {
    font-size: 14px;
    margin-top: 4px;
  }

  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  }

  .card-general-infos {
    padding: 16px;
    width:100%;
  }
}

.card-general-top {
  display: flex;
  justify-content: space-between;
}

.card-general-title {
  flex-grow: 1;
}

.card-general-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 8px;
  &-left {
    display: flex;
    align-items: center;
  }
}

.card-general-extras {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 992px) {
  .card-general {
    overflow: auto;
    max-height: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-general-image-container {
    height: 34vh;
    width: 100%;
    }

    .card-general-image {
    height:100%;
    width: 100%;
    object-fit: cover;
    }
  }
}

@media screen and (max-width: 600px) {
  .card-general-extras {
  display: none;
  }
}
