.mapboxgl-popup {
  width: 200px;
  height: auto;
  object-fit: cover;

}

.mapboxgl-popup-content {
  text-align: center;
  margin: 0 !important;


}


.card-map {
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  .card-map-image-container {
    height: 50px;
    width: 50px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 12px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 10px;
  margin-bottom: 0;
  }
  .card-map-infos {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }
}


