.mapboxgl-popup {
  width: 160px;
  height: auto;
  object-fit: cover;
}

.mapboxgl-popup-content {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.card-map {
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5%;

  .card-map:focus {
    outline: none;
  }
  .card-map-image-container {
    height: 50px;
    width: 50px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 12px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 10px;
  margin-bottom: 0;
  }
  .card-map-infos {
  padding: 6px;
  padding-right: 16px;
  text-align: left;
  }
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}
