.navbar-megalithic {
  // [...]
  justify-content: space-between;
  background-color: white;
}

.navbar-megalithic-transparent {
  background: transparent;
  transition: 0.5s background-color ease;
}



.navbar-megalithic .navbar-collapse {
  flex-grow: 0;
}

.navbar-megalithic .navbar-brand img {
  width: 40px;
}
