body {
    padding-top: 63px;
}

.navbar-megalithic {
  justify-content: space-between;
  background-color: #BAC2AE;
  transition: all 0.5s ease;
}

.navbar-megalithic-transparent {
  background: transparent;
  transition: all 0.5s ease;
  .navbar-brand {
    filter: invert(91%) sepia(2%) saturate(1648%) hue-rotate(42deg) brightness(82%) contrast(100%);
  }
  .navigation-search {
    display: none;
  }
  .navbar-extras {
    display: none;
  }
}

.navbar-megalithic .navbar-collapse {
  flex-grow: 0;
}

.navbar-megalithic .navbar-brand img {
  width: 40px;
}

.nav-profile-image {
  border:4px solid transparent;
  border-radius:50%;
}
.nav-profile-image:hover {
  border:4px solid #F4F4F4;
  border-radius:50%;
}

@media screen and (max-width: 714px) {
  .navbar-extras {
    display: none;
  }
}

.go-btn {
  position: relative;
  width: 60px;
  left: -25px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: unset;
  right: 10px;
}
