.trip-photo-edit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trip-photo-edit-display {
  height: 150px;
  width: 150px;
  margin: 8px;
  margin-bottom: 35px;
  background-position: center;
  background-size: cover;
  position: relative;
  .megalith-form {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -31px;
    width: 150px;
  }
  .select-megalith {
    font-size: 0.7rem;
    padding: 4px;
    margin-bottom: 0;
  }
  .megalith_photo_megalith {
    margin-bottom: 0;
  }
}

.new-megalith-photo {
  font-size: 0.5rem;
  padding: 4px;
}
