.card-trip-image {
  height: 260px;
  width: 24vw;
  img {
    min-height:100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-trip-infos {
  padding: 8px 16px;
  width:100%;
}

.card-trip-top-right {
  white-space: nowrap;
}

.trip-profiles-container {
  display: flex;
}

.trip-card-hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.trip-profile-image {
  text-align: center;
  width: 34px;
  height: 34px;
  margin-top: 10px;
  margin-right: 12px;
  .trip-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 992px) {
  .card-trip-image {
  height: 34vh;
  width: 100%;
    img {
      height:100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
