.trip-avatar {
    height: 24px;
    width:24px;
    border-radius: 50%;
    margin-top: 10px;
  }

.trip-profile-image {
  text-align: center;
  width: 60px;
  margin-right: 8px;
}

.card-trip-image {
  height: 280px;
  width: 233px;
  .trip-card-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.trip-profiles-container {
  display: flex;
}

.card-trip-top-left {
  text-align: right;
  align-items: none;
}

.trip-card-hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 992px) {
  .card-trip-image {
    height: 24vh;
    width: 100%;
  }
}
