.megalith-vert {
  overflow: auto;
  background: white;
  width: 200px;
  height: 150px;
  margin: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.trip-megalith-vert-image-container {
  img {
    height: 75px;
    width: 100%;
    object-fit: cover;
  }
}

.megalith-vert p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
}

.megalith-vert .megalith-info {
  padding: 2px;
}

.buttons-on-bottom {
  text-align: right;
  margin-right: 5px;
}
