.trip-avatar {
    height: 24px;
    width:24px;
    border-radius: 50%;
    margin-top: 10px;
  }

.trip-profile-image {
  text-align: center;
  margin-right: 8px;
}

.trip-profiles-container {
  display: flex;

}

.card-trip-top-left {
  text-align: right;
  align-items: none;
}
