<h1>Showing all megaliths</h1>

<% @megaliths.each do |megalith| %>
  <%= link_to megalith_path(megalith) do %>
    <h3>Name: <%= megalith.name %></h3>
    <h5>Tagline: <%= megalith.tagline %></h5>
    <p>Category</p>
    <p>Avg rating</p>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" style="width: 200px; height: 200px;">
  <% end %>
<% end %>
