<h1>Showing one single megalith</h1>

<img src="https://kitt.lewagon.com/placeholder/users/krokrob" style="width: 200px; height: 200px;" />
<h2>Name: <%= @megalith.name %> </h2>
<h3>Tagline: <%= @megalith.tagline %> </h3>
<h5>Category</h5>
<p>Description: <%= @megalith.description %> </p>
<p>Average rating</p>


<h3>Comments</h3>
<p>...</p>

<h3>Trips</h3>
<p>...</p>
